:root {
  --font-family-serif: "ShlapakScript", Arial, sans-serif;
  --font-family-main: "SourceSerif", Arial, sans-serif;
  --font-color-main: #fff;
  --font-color-hover: #838383;
  --font-color-secondary: #000;
  --font-color-gray: #aaaaaa;
  --font-color-error: #ff2626;
  --font-color-good: #3cb200;
  --font-size-xxl: 45px;
  --font-size-xl: 26px;
  --font-size-l: 20px;
  --font-size-m: 18px;
  --font-size-s: 16px;
  --bg-color-main: #f2f0eb;
  --bg-color-secondary: #353535;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input,
button,
textarea,
select {
  margin: 0;
  font: inherit;
  border: none;
  outline: none;
  font-family: inherit;
  font-size: inherit;
}

input::-moz-placeholder {
  font-family: inherit;
  font-size: inherit;
}

input::placeholder {
  font-family: inherit;
  font-size: inherit;
}

p {
  margin-bottom: 20px;
}

.img {
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

.app {
  font-family: var(--font-family-main);
  font-size: var(--font-size-m);
  font-weight: 300;
  color: var(--font-color-main);
  background-color: var(--bg-color-main);
  letter-spacing: 2px;
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
}

.map {
  border-radius: 10px;
}

.title {
  font-size: var(--font-size-xl);
  text-transform: uppercase;
}

.header__inner {
  position: relative;
}
.header__inner-title, .header__inner-text {
  position: absolute;
}
.header__inner-title {
  right: 10px;
  top: 10px;
  font-size: var(--font-size-l);
  text-align: right;
  font-weight: 200;
  letter-spacing: 6px;
}
.header__inner-text {
  font-family: var(--font-family-serif);
  font-size: var(--font-size-xxl);
  bottom: 120px;
  left: -95px;
  transform: rotate(270deg);
}

.invitation__inner {
  color: var(--font-color-secondary);
  padding: 40px 40px;
}
.invitation__inner-title {
  font-size: var(--font-size-l);
  text-align: center;
  text-transform: uppercase;
}
.invitation__inner-img {
  margin-top: 40px;
  margin-bottom: 20px;
}
.invitation__inner-text {
  text-align: center;
}

.program__inner {
  padding: 40px 10px;
  background-color: var(--bg-color-secondary);
}
.program__inner-list {
  margin-top: 40px;
}
.program__list-item {
  border-top: 1px solid #fff;
  padding: 40px 20px;
  display: flex;
  align-items: center;
}
.program__list-item:last-child {
  border-bottom: 1px solid #fff;
}
.program__list-time {
  font-family: var(--font-family-serif);
  font-size: var(--font-size-xxl);
  line-height: 1;
  margin-top: -15px;
}
.program__list-dash {
  width: 30px;
  height: 1px;
  margin: 0 20px;
  background-color: var(--bg-color-main);
}
.program__name-title {
  text-transform: uppercase;
  font-size: var(--font-size-l);
}
.program__name-text {
  margin-top: 10px;
  font-size: var(--font-size-s);
  color: var(--font-color-gray);
}

.place__inner {
  color: var(--font-color-secondary);
  padding: 40px 10px;
}
.place__inner-text {
  font-size: var(--font-size-s);
  margin: 20px 0;
}
.place .address {
  display: inline-block;
  cursor: pointer;
  position: relative;
  margin-top: 10px;
}
.place .address:hover .copyImg {
  scale: 1.2;
}
.place .address .copyImg, .place .address .doneImg, .place .address .rejectImg {
  width: 30px;
  transition: 0.1s linear;
  position: absolute;
  left: 255px;
  top: 50%;
  transform: translateY(-50%);
}
.place .address .doneImg, .place .address .rejectImg {
  opacity: 0;
  width: 25px;
}

.clothes__inner {
  position: relative;
  padding: 40px 10px;
  background-color: var(--bg-color-secondary);
}
.clothes__inner-text {
  margin: 20px 0;
  font-size: var(--font-size-s);
}
.clothes__inner-serif {
  font-family: var(--font-family-serif);
  font-size: var(--font-size-xl);
}
.clothes__inner-imgs {
  margin: 20px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.clothes__inner-img {
  overflow: hidden;
  border-radius: 5px;
  max-height: 450px;
}
.clothes__inner-cloth {
  margin-bottom: 20px;
}
.clothes__inner::after {
  position: absolute;
  z-index: 2;
  content: "";
  background: url("../resources/img/cloather.png") no-repeat center center;
  background-size: contain;
  width: 40px;
  height: 55px;
  bottom: -54px;
  right: 10px;
}
.clothes__cloth-item {
  margin-bottom: 10px;
  font-size: var(--font-size-s);
}
.clothes__color-text {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: var(--font-size-s);
}
.clothes__color-palette {
  display: flex;
  align-items: center;
}
.clothes__palette-item {
  max-width: 100px;
  width: 100%;
  height: 100px;
  border-radius: 5px;
}
.clothes__palette-item:not(:last-of-type) {
  margin-right: 40px;
}
.clothes__palette-item.black {
  background-color: #000;
}
.clothes__palette-item.white {
  background-color: #fff;
}

.organization__inner {
  padding: 40px 10px;
  color: var(--font-color-secondary);
}
.organization__inner-text {
  margin-top: 20px;
  font-size: var(--font-size-s);
}
.organization__inner-contact {
  font-family: var(--font-family-serif);
  font-size: var(--font-size-xl);
}
.organization__inner-contact div:not(:last-child) {
  margin-bottom: 10px;
}
.organization__inner-contact a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  border-bottom: 1px solid transparent;
  transition: 0.1s linear;
}
.organization__inner-contact a:hover {
  border-color: var(--bg-color-secondary);
}

.form__inner {
  padding: 40px 10px;
  background-color: var(--bg-color-secondary);
}
.form__inner-form {
  font-size: var(--font-size-s);
}
.form__inner-group {
  margin-bottom: 30px;
}
.form__inner-name {
  margin-bottom: 20px;
}
.form__inner-input {
  height: 55px;
  width: 100%;
  border-radius: 5px;
  padding: 0 15px;
  margin-top: 20px;
  background: none;
  border: 1px solid var(--bg-color-main);
  color: var(--font-color-main);
}
.form__inner-input::-moz-placeholder {
  color: var(--font-color-main);
}
.form__inner-input::placeholder {
  color: var(--font-color-main);
}
.form__inner-radio, .form__inner-checkbox {
  position: relative;
  padding-left: 40px;
  cursor: pointer;
}
.form__inner-radio.selected::before, .form__inner-checkbox.selected::before {
  background-color: var(--bg-color-main);
}
.form__inner-radio:not(:last-of-type), .form__inner-checkbox:not(:last-of-type) {
  margin-bottom: 15px;
}
.form__inner-radio::before, .form__inner-checkbox::before {
  position: absolute;
  content: "";
  border: 1px solid var(--bg-color-main);
  width: 20px;
  height: 20px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.1s linear;
}
.form__inner-radio:hover::before, .form__inner-checkbox:hover::before {
  background-color: var(--font-color-hover);
}
.form__inner-radio::before {
  border-radius: 50%;
}
.form__inner-btn {
  display: block;
  height: 55px;
  width: 95%;
  margin: 0 auto;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.1s linear;
  position: relative;
}
.form__inner-btn:hover {
  transform: scale(1.03);
}
.form__inner-log {
  margin-top: 10px;
  text-align: center;
  transition: 0.1s opacity linear;
  opacity: 0;
}
.form__inner-log.error {
  color: var(--font-color-error);
}
.form__inner-log.good {
  color: var(--font-color-good);
}
.form__btn-text {
  transition: 0.15s opacity linear;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  opacity: 1;
}
.form__btn-loader {
  transition: 0.15s opacity linear;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  opacity: 0;
}
.form__btn-loader img {
  width: 100px;
  height: auto;
}/*# sourceMappingURL=style.css.map */